
body{background-color: #438AB2;
    display: auto;
    grid-template-columns: 25% 50% 25%;
    margin: 0px;
   
}

div{
    font-size: 20px;
}

button {
    background-color: #4c8bf5; 
    color: #fff; 
    padding: 5px 10px;
    border: none;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #2b5dcd; 
    transform: scale(1.05);
  }

   h1{
    color:white;
   text-align: center;
   }
   
   p{
    margin: 15px;
    text-align: justify;
   }
   
   main{
    background-color: white;
    width: 700px;
    margin: auto;
    height: auto;
    border: 6px solid white;
    
   }

   .leftaside{
    background-color:#438AB2;
    width: 20%;
    max-width: 150px;
    min-width: 100px;
    border:6px solid white;
    margin-top: 2%;
    position: fixed; 

   }

   .rightaside{
    background-color: #438AB2;
    width: 20%;
    max-width: 200px;
    min-width: 100px;
    float: right;
    border:6px solid white; 
    margin-top: 2%;
    

   }

   header{ 
    background-color: #7C9FD0;
    color: #fff; 
    padding: 10px;
    text-align: center;
    border: 6px solid white;
    margin: 0px;

   }

   footer{
    background-color: #7C9FD0; 
    color: #fff; 
    margin: 10px;
    text-align: center;
    margin: 0px;
    border: 6px solid white;
   }

   .container {
    position: relative;
  }

